<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.appstud.android.cashbook"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="15" />

    <application
        android:name="CashBook"
        android:icon="@drawable/home"
        android:label="@string/app_name"
         android:uiOptions="none"
            
 >
        <activity
            android:name=".activities.CashBookActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AddEntryActivity"
            android:label=" " >
        </activity>
        <activity android:name=".activities.DetailActivity"></activity>
        <activity android:name=".activities.TagInfo"></activity>
        <activity android:name=".activities.CustomDate"></activity>
        <activity android:name=".activities.UpdateTagSubList"></activity>
    </application>

</manifest>